// White
$white: #FFFFFF;

// Black
$black: #000000;

// Brown
$brown-100: #CDC1B8;
$brown-200: #BCA691;
$brown-300: #B29782;
$brown-400: #81634B;
$brown-500: #835E54;

// Blue
$blue-100: #2176AE;

// Green
$green-500 : #32936F;

// Gray
// $gray-100: #F7F8FA;
$gray-200: #EAECF0;
$gray-300: #D0D5DD;
// $gray-400: #B3B9C3;
$gray-500: #667085;
$gray-600: #475467;
$gray-700: #344054;
// $gray-800: #232C3D;
$gray-900: #101828;


// Text Colors
// brown-100
.text-brown-100 {
    color: $brown-100 !important;
}

// brown-200
.text-brown-200 {
    color: $brown-200 !important;
}

// brown-300
.text-brown-300 {
    color: $brown-300 !important;
}

// brown-400
.text-brown-400 {
    color: $brown-400 !important;
}

// brown-500
.text-brown-500 {
    color: $brown-500 !important;
}

// blue-100
.text-blue-100 {
    color: $blue-100 !important;
}

// green-500
.text-green-500 {
    color: $green-500 !important;
}

// gray-200
.text-gray-200 {
    color: $gray-200 !important;
}

// gray-300
.text-gray-300 {
    color: $gray-300 !important;
}

// gray-500
.text-gray-500 {
    color: $gray-500 !important;
}

// gray-600
.text-gray-600 {
    color: $gray-600 !important;
}

// gray-700
.text-gray-700 {
    color: $gray-700 !important;
}

// gray-900
.text-gray-900 {
    color: $gray-900 !important;
}

// Borders Colors
.border-brown-500 {
    border-color: $brown-500 !important;
}

// background Colors
.bg-brown-200 {
    background-color: $brown-200 !important;
}

.bg-brown-500 {
    background-color: $brown-500 !important;
}

.bg-green-500 {
    background-color: $green-500 !important;
}