@import './margin.scss';
@import './padding.scss';
@import './colors.scss';
@import './fontSize.scss';
@import './typo.scss';

$btn-linear-gradient: linear-gradient(60deg, rgba(131, 94, 84, 1) 30%, rgba(33, 118, 174, 1) 80%);

// mixins
@mixin linearGradient {
    background: $btn-linear-gradient;
}

@mixin btnHoverBg {
    background: $green-500;
    color: $white;
}

@mixin button {
    color: $white;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.625rem 1.125rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: $brown-500;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    transition-duration: 0.5s;
}

// button {
//     width: 100%;
// }

.button {
    @include button;
}

.button:hover {
    @include btnHoverBg;
}