// Paddings

// padding 0.75rem
.pt-0_75 {
    padding-top: 0.75rem;
}

.pb-0_75 {
    padding-bottom: 0.75rem;
}

.ps-0_75 {
    padding-left: 0.75rem;
}

.pe-0_75 {
    padding-right: 0.75rem;
}

.px-0_75 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.py-0_75 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.p-0_75 {
    padding: 0.75rem;
}

// padding 2rem
.pt-2_0 {
    padding-top: 2rem;
}

.pb-2_0 {
    padding-bottom: 2rem;
}

.ps-2_0 {
    padding-left: 2rem;
}

.pe-2_0 {
    padding-right: 2rem;
}

.px-2_0 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py-2_0 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.p-2_0 {
    padding: 2rem;
}

// padding 6rem
.pt-6_0 {
    padding-top: 6rem;
}

.pb-6_0 {
    padding-bottom: 6rem;
}

.ps-6_0 {
    padding-left: 6rem;
}

.pe-6_0 {
    padding-right: 6rem;
}

.px-6_0 {
    padding-left: 6rem;
    padding-right: 6rem;
}

.py-6_0 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.p-6_0 {
    padding: 6rem;
}