@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import './custom.scss';

* {
    font-family: "Tajawal", sans-serif;
    direction: rtl;
}

.navLink {

    transition: border-right 0.3s ease-in-out, color 0.3s ease-in-out;
    border-right: 0px solid transparent;

    &:hover {
        border-right: 12px solid $green-500 !important;
        color: $brown-500 !important;
    }
}